	<!-- MENU -->
	
	
	
   <div class="span2">
                        <div class="well sidebar-nav">
                            <ul class="nav vav-list">
                                <li class="nav-header">
                                    Menu 
                                </li>
                                <li>
                                    <a href="@routes.Application.index()">
                                        <i class="icon-home"></i>
                                        Home 
                                    </a>
                                </li>                            
                                <li>
                                    <a href="@routes.Admin.jogo()">
                                        <i class="icon-user"></i>
                                        Eventos
                                    </a>
                                </li>
                                <li>
                                    <a href="@routes.Application.noticias()">
                                       <i class="icon-globe"></i>
                                       Noticias
                                    </a>
                                </li>
                                <li>
                                    <a href="@routes.Application.sobre()">
                                        <i class="icon-book"></i>
                                        Sobre
                                    </a>
                                </li>
                                <li>
                                	<a href="@routes.Application.localizacao()">
                                		<i class="icon-map-marker"></i>
                                		Localizacao
                                	</a> 
                                	</li>
                                	<li>
                                	<a href="@routes.Admin.info()">
                                		<i class="icon-cog"></i>
                                		Info
                                	</a> 
                                	</li>
                                <li>
                                    <hr>
                                </li>
                            </ul>
                        </div>
                     </div>
	
			 <!-- MENU -->