@(message: String)

@main("AirBank") {
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  
                               
                               
                               <img src="@routes.Assets.at("images/1.jpg")" alt="">
                               <p>
                                <address>
						  			<strong>Air Bank, Inc.</strong><br>
						  			 Predio 32 - Av. Brigadeiro Luis Antonio, 1099 - Bela Vista<br>
						  			Sao Paulo, SP 01317-001<br>
						  			<abbr title="Phone">T:</abbr> (11) 3101-3864
								</address>

								<address>
								  	<strong>Douglas Araujo Lage do Amaral</strong><br>
								 	 <a href="mailto:#">douglasaralage@@gmail.com</a>
								</address>
                        
   
   
    
}
