@(message: String)

@main("AirBank") {
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    
                                <h2>Air Bank Time Corporation <small> <br>Tem o intuito de ajudar o professor a elaborar palestras, eventos para que os alunos que são cadastrados possam receber informações de eventos e palestras com mais facilidade e possam interagir e cumprir suas horas complementares do curso referente, aqui o aluno tem meios de verificar horarios e locais de palestras e até mesmo quanto em horas complementares vale tal evento, também se tornou mais fácil de verificar o quanto ainda se falta comprir em horas complementares obrigatorias e opcionais. Aqui se pode imprimir o formulario para a entrega de documento para comprovacao de pressença em tal evento evitando filas em diretorias assim tornando a vida do aluno mais facil. </small></h2>
                            
	
			 <!-- Sobre -->
   
   
    
}
